.python-version
*.pyc
*.sublime-project
*.sublime-workspace
*.swp
*~
.#*
.coverage
.eslintcache
.fabric
.git
.grunt
.idea
.install
.ipynb_checkpoints
.venv
.virtualenv
__pycache__
__version__.py
_media
_static
_tmp
node_modules/*
api_requests/*
*.sqlite